# Dependencies
node_modules/

# Build output
.dist/
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Configuración local de la API (credenciales de la BBDD)
api/config.php

# Env
.env
.env.*.local

# TS build info
*.tsbuildinfo
